* {padding:0; margin:0; background:none; list-style-type:none; font-family:Tahoma, Arial; font-size:11px; color:#666; outline:none; border:none;}
a {text-decoration:none; color:#666;}
a:hover {color:#000;}
.pkg:after{content:" ";display:block;visibility:hidden;clear:both;height:0.1px;font-size:0.1em;line-height:0}
body {background:#ecfdfe url(img/bgtopfixed.jpg) no-repeat fixed top center;}
#warp {margin: 0 auto;width: 960px; padding:27px 0 30px;}
.bgfooter {width:100%; height:365px;background:url(img/bgfooterfixed.jpg) no-repeat fixed bottom center; position:fixed; bottom:0; z-index:-99;}
/*#head {width:960px; height:360px; margin-bottom:10px; background:url('img/bg-header.png') no-repeat; position:relative;}
#head .logo a {width: 210px;height: 90px; display:inline-block; text-indent:-9999999px; margin-top:20px;}
#nav {margin:41px 0 0 55px;}
#nav li{float:left;}
#nav li a h2 {font-size:16px; color:#fff; font-weight:bold;}
#nav li a:hover h2 {color:#000; text-shadow:0 1px rgba(255,222,0,.5);}
#nav li a.nav-minigame {margin-left:165px; display:block;}
#nav li a.nav-mobilegame {margin-left:140px; display:block;}
#nav li.nav-rss {text-indent:-999999px;}
#head .thang {background:url(img/thang.png); width:30px; height:150px; position:absolute; bottom:21px; right:12px;}
.ad728x90 {width:728px; height:90px;margin: 82px 0 0 93px;}
*/

.slide-login {position:relative; height:195px;}
/*Slide*/
#topSlide {width:480px; height:189px; position:relative; float:left;}
#topSlide .slides_container {width:456px; height:157px;padding-top: 23px; margin-left: 10px;}
#topSlide .slides_container img {width:456px; height:157px;}
.borTopslider {background:url(img/gamenoibat.png); position:absolute; z-index:99;}
.borTopslider.TborTopslider {top: 0;height: 29px;width: 480px;}
.borTopslider.BborTopslider {bottom: 0;height: 20px;background-position: 0 -169px;width: 480px;}
.borTopslider.RborTopslider {top: 29px;background-position: -460px -29px;width: 20px;height: 140px;right: 0;}
.borTopslider.LborTopslider {top: 29px;background-position: 0 -29px;width: 20px;height: 140px;}

.pagination {position:absolute; left:22px; bottom:20px; z-index:99;}
.pagination li {float:left; text-indent:-9999px; margin-right:5px;}
.pagination li a {display:block; width:10px; height:10px; border-radius:20px; background-color:#FFF; box-shadow:0 0 5px #000;}
.pagination li.current a {width:25px;}
#topSlide .next, #topSlide .prev {display:none;}
.boradiusSlide {background:url(img/boradiusSlide.png) no-repeat; width:420px; height:230px; position:absolute; z-index:99; top:0;}

/*Sub nav*/
.subnav {background: url(img/bgsubnav.png) no-repeat 0 20px;width: 264px;height: 162px;margin-left: 436px;padding-top: 20px;}
.gagaga {background:url(img/gaque.png); width:226px; height:40px; position:absolute;top: -9px;right: 260px;z-index: -1;}
.subnav .subnavbtn {margin: 20px 0 0 60px;}
.subnav .subnavbtn li {display:block; margin:0 7px 13px 0;}
.subnav .subnavbtn a h2 {font-size:11px; font-weight:bold; color:#F40; display: block; padding-left: 25px; text-transform:uppercase; text-shadow:0 1px #ffF; background:url(img/icon-subnav.png) no-repeat 0 1px;}
.subnav .subnavbtn a:hover h2 {color:#f60; text-decoration:underline;background-position: 0 -27px;}

/*loginForm*/
.loginform {background:url(img/bg-loginform.png) no-repeat; width:250px; height:185px;position: absolute;right: 0;top: 0;}
.loginform form {padding: 40px 0 0 28px;}
.inputtext {background:url(img/bginputxt.gif) no-repeat; height:22px; width:152px; padding:0 10px; margin:0 auto 10px; display:block; color:#fff;}
input::-webkit-input-placeholder {color:#FFF;}
input[type="checkbox"] {float: left;}
.line1 {margin:0 0 5px 27px; display:inline-block;}
.loginform label {color:#3a4; margin-left:5px;}
.loginform .line1 a {color:#333;}
.btnlogin {width:88px; height:27px; background: url(img/btnloginfrm.png) no-repeat;display: block; cursor:pointer;margin: 6px 0 0 25px;}
.btnlogin:hover {background-position:0 -27px;}
.registerbtn {display:block; text-indent:-9999px; width:72px; height:27px; background: url(img/btnloginfrm.png) no-repeat -94px 0;position: absolute;right: 30px;top: 148px; z-index:2;}
.registerbtn:hover {background-position:-94px -27px;}
.logini1 {background:url(img/login-i1.png); width:104px; height:126px;position: absolute;bottom: -3px;right: 205px;}
.logini2 {background:url(img/login-i2.png); width:57px; height:76px; position:absolute;right: -10px;bottom: -3px;z-index: 1;}

/*search*/
.gameSearch {background:url('img/searchbox.png') no-repeat bottom; width:250px; height:95px; position:relative; padding-top:10px;}
.inputtextSearch {width: 180px; height:30px; position:absolute;left: 13px; top: 59px; width: 180px;}
.btnSearch {width:38px; height:33px; background:url(img/search-btn.png) no-repeat; cursor:pointer;float: right;margin:48px 5px 0 0;}
.btnSearch:active {background-position:0 -33px;}


.main {width:960px; margin:0 auto;}
.colLeft {float: left; width:700px;}
.colRight {float:right; width:250px;}

.tittaitro h2 {color:#fff; font-weight:bold; display:block; float:left; font-size:14px; margin:14px 50px;}
.gamehay h2 {text-indent: -165px; overflow: hidden;}
a.lhqc { display:block; float: right; height: 20px; margin: 23px 40px 0 0;margin: 26px 65px 0 0; font-weight: bold; color:#fff;}
#topGame .contentgame {padding:15px 38px 0 0;}
#topGame li.gameitem {width: 180px; margin:0 0 10px 38px ;float: left;font-weight: bold;height: 160px;text-align: center; position:relative;}
#topGame li.gameitem embed {width: 180px !important; height: 135px !important;}
#topGame .gameitem img {width: 180px;height: 135px;}
#topGame .gameitem h3 {width: 180px;}





.game_top {display: block;clear: right;margin-bottom: 5px;width: 250px;}
.topBorboxR {background:url(img/border-rightbox.png) no-repeat; width:250px; height:10px;}
.rlBorboxR {border: solid #ccc;border-width: 0 3px;background: #fff; float:left; width:244px;}
.rlBorboxRHighscore {background-color:#fff5c0;}
.bottomBorboxR {background:url(img/border-rightbox.png) no-repeat bottom; width:250px; height:10px; clear:both; margin-bottom:10px;}
.botborhighscore {background:url(img/botborhighscore.png);}

.titCongdong {background:url(img/congdong.png); width:109px; height:21px; text-indent:-9999px; margin:5px 0 10px 15px;}
.titHighscore {text-indent:-9999px; background:url(img/highscore.png) no-repeat; height:65px; width:250px;}
.titGamehaynhat {background:url(img/gamehaynhat.png); width:148px; height:21px; text-indent:-9999px; margin:5px 0 10px 15px;}
.titGamemoi {background:url(img/gamemoi.png); width:107px; height:20px; text-indent:-9999px; margin:5px 0 10px 15px;}

ul.sort {background:url(img/ul-bg.png) no-repeat left 7px; padding-left:28px; line-height:28px; margin-left:15px;}
ul.sort li {width:190px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
a.bluecolor {color:#00bff3;}
.ulHighscore {margin:5px 15px 10px; line-height:28px;}
.ulHighscore img {width:16px; height:16px; margin:7px 10px 0 0; float:left;}
.UsernameHighscore {width:100px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.Highscore {float:right; width:70px; text-align:right;}
.GameHighscore {width: 115px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float:left;}


.tabs {margin:5px 15px;}
.newsicon, .forumicon {background:url(img/tintucforum.png) no-repeat; width:75px; height:33px; display:block; text-indent:-9999px;}
.newsicon  {background-position:-3px -44px; float:left; margin-right:30px;}
.forumicon {background-position:-123px -44px; float:left;}
.newsicon:hover, .newsicon.tab-selected {background-position:-3px -4px;}
.forumicon:hover, .forumicon.tab-selected {background-position:-123px -4px;}

.topBorSlide {background:url(img/borTopslide.png); width:700px; height:10px;}
.botBorSlide {background:url(img/borTopslide.png) bottom; width:700px; height:10px; margin-bottom:10px;}
.bgyBorSlide {background:url(img/bgyTopslide.png) repeat-y; width:680px; height:230px; padding:0 10px;}









#categories {margin-bottom:10px;}
.btnCats {background:url(img/btncat.png); width:250px; height:53px; cursor:pointer;}
.catContent {position:relative; padding-bottom:10px; background:url(img/bgCatcontent.png) bottom no-repeat; width:250px;}
.catContent ul {border:solid #f90; border-width:0 3px; background:#fff;}
.catContent li {line-height:25px; padding:0 20px 0 10px;}
.catContent a {color:#333; background:url(img/arrowCat.png) no-repeat 0 8px; padding-left:12px; width: 150px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;}
.catContent li:hover a {color:#F60; font-weight:bold; background-position:0 -23px;}
.catContent em {float:right; font-size:11px; color:#888;}


.viewport {width: 250px;height: 311px;overflow: hidden;position: relative;}
.overview {list-style: none;position: absolute;left: 0;top: 0;padding: 0;margin: 0; width:100%;}
.scrollbar {width: 5px; position:absolute; right:8px; z-index:99;}
.track {position: relative;}
.thumb {background:rgba(0, 0, 0, .3);height: 20px;width: 5px;cursor: pointer;overflow: hidden;position: absolute; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; }
.thumb:hover {background:#F60;}
.disable {display: none;}


h1 {color:#fff; text-shadow:0 1px 1px rgba(0,0,0,.3);}




.topborLeftbox {width:700px; height:80px; background:url(img/bortopL.png) -1px 0;}
.botborLeftbox {width:700px; height:10px; background:url(img/borLeftbox.png) bottom; clear:both; margin-bottom:10px;}
.lrborLeftbox {width:694px; border:solid #7bce21; border-width:0 3px; background:#fff; float:left;}
.titLeftbox {background:url(img/bgtitLeftbox.gif); width:660px; height:38px; margin:10px auto 20px;}
.titLeftbox h2{color: #FFFFFF}
.tit1 {background:url(img/bgBlue.png) no-repeat; padding-left:30px; display:inline-block; height:38px;}
.tit1 span {background:#f5f5f5 url(img/bgBlue.png) no-repeat right; padding-right:30px; display:block; height:38px; line-height:38px;}
.tit2 {background:url(img/bgOrange.png) no-repeat; padding-left:30px; display:inline-block; height:38px;}
.tit2 span {background:#f5f5f5 url(img/bgOrange.png) no-repeat right; padding-right:30px; display:block; height:38px; line-height:38px; text-transform:uppercase;} 
.tabdeu {text-transform:uppercase; font-weight:bold; margin:0 30px;}

.tit3 {padding:5px 17px 10px; border-bottom:1px solid #eee;}
.titgame {float:left;white-space:nowrap;}
.titgame b {font-size:18px; color:#f60; text-shadow:0 0 0;}
.google {float:right;}
.gameDetail {margin:10px auto 5px; width:640px;}
.typeGame {text-align:center; margin-bottom:10px;}
.typeGame h2 {display:inline;}
.gameplay {margin-bottom:10px;}
.ticker {width:90px; height:26px; background:url(img/downloadbtn.png) right; display:block; float:left; text-indent:-999px;cursor:pointer;}
.ticker:hover {background-position:0 0;}
.playView {font-size:12px; margin-left:20px; line-height:30px;}
.playView strong {font-size:14px; color:#f60;}
.mesDownload {float:right; line-height:30px;}
.mesDownload b {color:#F60;}
.guide, .commentbox {padding: 10px 27px 10px;border-top: 1px solid #ccc;}
.tit4 strong {font-size:12px; color:#333;}
.guidecontent {line-height:18px;}
.guidecontent h3 {font-weight:normal; padding-top:3px;}
.tabsComment {margin-bottom:10px;}
.tabsComment a {display:inline-block; padding:0 8px; margin-left:3px; font-size:14px; font-weight:bold;}
.tabsComment a.tab-selected {color:#f60;}
#commentVQG {border-top:1px solid #ccc;}
#commentVQG .cmt {padding-left: 65px;padding-bottom: 6px;padding-top: 10px;border-bottom: 1px solid #e2e2e2;}
#commentVQG .ava-cmter {width: 50px;margin-left: -65px;display: block;float: left;}
#commentVQG .cmter-info {width: 100%;float: left;}
#commentVQG .cmter-name {text-decoration: none;font-weight: bold;color: #3b5998;font-size: 11px;font-family: tahoma;margin-bottom: 5px;display: block;}
#commentVQG .cmter-say {color: #555;margin-bottom: 5px;}
#commentVQG .date {font-size: 11px;color: #888;padding-right:15px;float: left;}
#commentVQG .cmter-menus {padding-top: 0px;font-size: 11px;color: #777;}
#commentVQG .likebtn {display: block;float: left;margin-right: 13px;color: #3b5998; font-size:11px;}
#commentVQG .postArea {background:#f5f5f5;padding: 10px 10px 6px 75px;}
#commentVQG .field {float: left;width: 100%;}
#commentVQG .field .comment-txt {border: 1px solid #aaa;width: 543px;resize: none; padding:5px; background:#fff;}
#commentVQG .btn-glb {cursor: pointer;border: 1px solid #55BA47;font-weight: bold;color: #fff;font-size: 11px;background: #A1D54F;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(161, 213, 79, 1)), color-stop(4%, rgba(128, 194, 23, 1)), color-stop(6%, rgba(157, 213, 58, 1)), color-stop(100%, rgba(124, 188, 10, 1)));padding: 3px 10px; margin-top:3px;}
#commentVQG .postToProfile {float:right; margin-top:5px;}
#commentVQG .checkpostArea {float:left; margin:2px 5px;}
#commentVQG .desc {font-size:11px;}
#commentVQG .cmt0Login {padding:10px; text-align:center;background: #f5f5f5;border-bottom: 1px solid #e2e2e2;}
#commentVQG .cmt0Login a {font-weight:bold; color:#f60;}

#allgame ul.contentgame, .gamekhac .contentgame {padding-top:15px;}
.gameitem {margin:0 19px; float:left; width:100px; position:relative;}
.gameitem img {width:100px; height:75; border-radius:5px; float:left;}
.gameitem h3 {width:100px; height:28px; text-align:center; float:left; margin: 7px 0 15px; overflow:hidden;}
.gameitem a:hover h3 {color:#00bff3;}
.gameitem a:hover img {box-shadow:0 0 5px #666;}


.page {margin:0 17px; border-top:1px solid #eee; padding:10px 0;}
.page li {display:block; float:left; margin-right:5px; line-height:27px; text-align:center;}
.page li a {display:block; width:26px; height:27px; font-size:12px; font-weight:bold; overflow:hidden;}
.page li a:hover {background:url(img/pagicon.png) -61px 0;}
.page li a:active {background:url(img/pagicon.png) -61px -31px;}
.page .curent {width:26px; height:27px; background:url(img/pagicon.png) -61px -31px;}
.page .firstpage, .page .firstpage:hover {background:url(img/pagicon.png) 0 -31px; text-indent:-9999px;}
.page .firstpage:active {background-position:0 0;}
.page .prevpage, .page .prevpage:hover {background:url(img/pagicon.png) -30px -31px; text-indent:-9999px;}
.page .prevpage:active {background-position:-30px 0;}
.page .nextpage, .page .nextpage:hover {background:url(img/pagicon.png) -91px -31px; text-indent:-9999px;}
.page .nextpage:active {background-position:-91px 0;}
.page .lastpage, .page .lastpage:hover {background:url(img/pagicon.png) -122px -31px; text-indent:-9999px;}
.page .lastpage:active {background-position:-122px 0;}

.topborFooter {background:url(img/boFooter.png); width:960px; height:10px;}
.botborFooter {background:url(img/boFooter.png) bottom; width:960px; height:10px;margin-bottom:10px; clear:both;}
.lrborFooter {border:solid #ccc; border-width:0 3px; width:954px; float:left;}

.fcoll {width:220px; padding:10px 30px; text-align:center; border-right:1px solid #ccc; float:left;}
.fcoll img {margin-bottom:10px;}
.fcoll a, fcoll a:hover, .fcoll b {color:#555; font-weight:normal; font-size:12px;}
.fcoll h3 {font-weight:normal;}
.fcolr {float:right; width:640px; margin:10px 0;}
.f-col {float:left; margin-right:30px; width:130px;}
.f-col li {line-height:20px; width:130px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.f-head {color:#5eb622; font-size:14px; font-weight:bold; padding-right:20px; background:url(img/arrowFooter.png) right no-repeat; margin-bottom:10px; display:inline-block;}
.subFooter1 {margin-bottom:10px;}
.coppyright {float:left; border-bottom:3px solid #f60; color:#555; font-size:12px; padding:8px 0 12px; width: 218px; white-space: nowrap;}
.navFooter {float:right; border-bottom:3px solid #ccc; width:742px; font-size:12px; padding:8px 0 12px; text-align:right;}
.navFooter a, .navFooter a:hover {font-size:12px; color:#f60; margin-left:40px;}
.nameVQG {color:#f60; font-weight:bold; margin-bottom:3px; font-size:12px;}
.infoVQG {font-size:12px; color:#555;}

.adv210x200 {background:url(img/bgadvslideleft.png) no-repeat; width:250px; height:250px; padding-bottom:10px;}
.adv640x80 {width:640px; height:80px; margin:0 auto 10px; overflow: hidden;}
.mt25 {margin-top:25px;}



.boxtogle-nav {background:#fff;border:1px solid #999; border-radius:3px; position:absolute; box-shadow:0 1px 3px rgba(0,0,0,.5); z-index:9999; top:30px;}
.boxtogle-nav .item {padding:10px 10px 0px; line-height:16px; float:none; width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.boxtogle-nav img {margin-right:6px; float:left;}
.boxtogle-nav a:hover {text-decoration:underline;}
.boxtogle-nav a {text-indent:9999px !important; display:inline !important; color:#0075F3;}
.wbgameToggle {width:312px;}
.tileboxToggle {border-bottom:1px solid #ccc; padding:6px 10px; font-weight:bold; width:151px;float:left;}
.col2boxTogle {float:right; border-left:1px solid #ccc; padding-bottom:10px; width:140px;}
.col2boxTogle a {background: url(img/arrowCat.png) no-repeat 0 2px !important; padding-left:12px; display:block;}
.co1boxToggle {float:left; padding-bottom:10px;}
.pb10 {padding-bottom:10px;}
.arrowUp {background:url(img/arrowUp.png); width:14px; height:11px; position:absolute; top:-8px; left:30px;}
.btnvmore {clear:both;}
.vmore {text-align:center; padding:5px 10px 7px; border-top:1px solid #ccc; width:151px; float:left;}
.vmore a {color:#666;}
.gametype {width:121px;}

a.fullscreenlink {background:url(img/fullscreenicon.png) no-repeat; line-height:16px; margin:5px;margin: 0 0 5px;padding-left: 28px;display: inline-block;}
.votebox {border-top:1px solid #ccc; padding:6px 22px 10px;}
.votebox * {line-height:18px; font-size:12px;}
.votecol {padding:5px 0; width:588px; float:right;}
.votecol a {display:block; float:left; width:50px; margin-left:-60px;text-align: center;font-weight: bold;border-radius: 3px;box-shadow: 0 1px rgba(0,0,0,.4); font-size:11px;}
.votecol a:active {box-shadow:none;}
.votecol a.votelike {background:#ACC1E0;color: #fff; border:1px solid #8A9CBB;}
.votecol a.votedis {background:#ccc; color:#333; border:1px solid #999;}
.likecol {background:#ACC1E0; text-align:center; color:#fff; display:block; border:1px solid #8A9CBB;}
.discol {background:#ccc; text-align:center; color:#333; display:block; border:1px solid #999;}


.loginform .infoUserlogin {margin: 0 3px 10px; padding: 40px 20px 0;}
.loginform .avatarlogin { float:right; width:66px; height:66px; margin-left:10px;}
.loginform .avatarlogin img {border:1px solid #fff;}
.loginform .infoBox {float: left;text-align: right;border-bottom: 1px solid #7AD846;height: 66px;}
.loginform .username {color:#000; font-weight:bold; font-size:12px; line-height:20px;width: 128px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.loginform .infoUser {color:#555; line-height:20px;}
.loginform .linkLogin {clear:both; padding:0 20px; text-align:center;}
.loginform .linkLogin a {display:block; color:#333; padding:5px 0 0;}
.loginform .linkLogin a:hover {color:#428F17; text-decoration:underline;}

#chengame {background: #FFF;padding: 15px;margin-bottom: 10px;border-radius: 10px;border: 3px solid #CCC;}
#chengame p {font-weight: bold;font-size: 12px; color:#f60;}
#chengame div.textarea {font-size: 9px;border: 1px solid #ccc;padding: 5px 5px;background-color: #fafafa;width: 460px;height: 103px;border-bottom-width: 2px;overflow: auto;margin-top: 6px;border-radius: 5px;}
#chengame img {margin-right:10px; border-radius:5px;}
#chengame .borimg {position:relative;}
.fblike {border: solid #ccc;border-width: 1px 0;padding: 5px 0 5px 10px;margin-bottom: 10px;background: #f5f5f5;}



.idtabs {position: relative;height: 95px;background: url(img/gameranking.png) no-repeat bottom;}
.idtabs a {display:block; background:url(img/btn-gameranking.png) no-repeat; position:absolute; left:17px; bottom:15px;}
.idtabs a.xephanggame {width:74px; height:28px;background-position:0 -28px;}
.idtabs a.xephanggame.tab-selected {background-position:0 0;}
.idtabs a.gamemoi {width:78px; height:28px; left:100px; background-position:-80px 0;}
.idtabs a.gamemoi.tab-selected{background-position:-80px -28px;}
.itemuidtab {position:relative; padding:0 20px 10px 50px; border-bottom:1px solid #eee; margin-bottom:10px;}
.itemuidtab:last-child {border:none;}
.rankingtop {width:40px; height:40px; position:absolute; left:5px;text-align: center;font-weight: bold;font-size: 16px;}
.top1 {background:url(img/ranktop.png) no-repeat;}
.top2 {background:url(img/ranktop.png) no-repeat 0 -40px;}
.top3 {background:url(img/ranktop.png) no-repeat 0 -80px;}
.rankup {background:url(img/rank-arrow-up.gif); width:11px; height:13px; position:absolute; right:10px; top:13px;}
.rankdown {background:url(img/rank-arrow-down.gif); width:11px; height:13px; position:absolute; right:10px; top:13px;}
.rankstatus {background:url(img/rank-.gif); width:8px; height:3px; position:absolute; right:10px; top:19px;}
.rankimg {float:left; width:40px; height:40px; margin-right:8px;}
.rankimg img {border-radius:5px;}
.rankinfo {float:left;}
.rankinfo h3 {width:120px;overflow: hidden;white-space: nowrap;line-height: 20px;text-overflow: ellipsis;}
.itemuidtab a:hover h3, .itemuidtab a:hover .gameType {color:#00bff3;}


.boxcatGame {position:relative; background:url(img/borbotboxcat.png) no-repeat bottom; padding-bottom:16px; margin-bottom:10px;}
.titboxCat {background:url(img/titboxcat.png); width:960px; height:35px; position:relative}
.titboxCat a.tit-boxcat {color: #FFF;    display: block;    font-size: 16px;    left: 40px;    position: absolute;    text-align: center; top: 7px;    width: 100px; text-shadow:0 1px #F50;}
.linktags { float: right;    position: absolute;    right: 10px;    top: 5px;    width: 720px; overflow:hidden; height:25px;}
.linktags li {float:right;/*max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;*/ font-weight:bold; margin-right:10px; padding:5px 10px; background-color:#888; border-radius:10px; border:1px solid #666;}
.linktags li a {color:#FFF;}
.listItemboxCat {border: solid #ccc; border-width:0 3px; background:#fff;}
.listItemboxCat a:hover span{border-color:#FC6;}
.top1Item {margin:20px 25px 0; float:left;}
.imgTop1Item {position:relative;}
.imgTop1Item img {width:150px; height:150px; border-radius:8px;}
.titTop1Item, .voteTop1Item {font-weight: bold;line-height: 20px;width: 150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.titTop1Item {font-size:13px; margin-top:5px;}
.voteTop1Item {color:#f60;}
.itemboxCat {float:left; text-align:center; line-height:16px; margin: 15px 25px 0 0;}
.itemboxCat a img {border-radius:5px; width:100px; height:75px;}
.itemboxCat a {display:block; position:relative;}
.itemboxCat a h3 {width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.borimgtop1cat {width: 152px;height: 152px;border: 1px solid #ccc;position: absolute;top: -2px;left: -2px;border-radius: 8px;}
.borimgcat {position: absolute;border: 1px solid #ccc;width: 102px;height: 77px;top: -2px;border-radius: 5px;left: -2px;}

.contentviewmore {margin:0 20px; padding: 10px 0 0;}
.itemviewmore {padding-bottom:20px; margin-bottom:20px; border-bottom:1px dashed #eee;}
.itemviewmore:last-child {border:none; padding-bottom:0;}
.itemviewmore a {display: block;float: left;margin-right: 17px; position: relative;}
.itemviewmore a img {width:100px; height:75px;border-radius: 8px;}
.itemviewmore a:hover img {box-shadow: 0 0 5px #666;}
.infoItemviewmore {float:left; width:535px;}
.infoItemviewmore h3, .itemView h3 {font-size:16px; color:#333; margin-bottom:10px;}
.infoItemviewmore p, .itemView p {line-height:16px; margin-bottom:10px; clear:left;}
.viewliketit {font-weight:bold; color:#333; float:left; margin-right:30px;}
.viewliketit span {color:#f60;}
.itemView {width:300px; float:left; margin-right:10px;}
.itemviewmore label {font-weight:bold; color:#f60;}
.itemviewmore textarea {border:1px solid #999;resize: none;padding: 5px;overflow: hidden;margin: 4px 0 0;height: 46px;width: 215px; border-radius: 6px;border-bottom-width: 2px;white-space: pre;line-height: 16px; background:#f9f9f9;}
.viewmore {color: #00bff3;background: url(img/arrowCat.png) no-repeat 0 -29px;padding-left: 12px;font-weight: bold;margin: 0 0 5px 18px; display:block;}

.chengame {height:80px; width:250px; margin-bottom:10px; background:url(img/chengamebn.png) no-repeat bottom left; position:relative;}
.chengame1 {background:url(img/chengame1.png) no-repeat; width:79px; height:87px; position:absolute; right:-7px;}
.cati1 {width: 250px;height: 55px;background: url(img/cati1.png) no-repeat;}

#game {width: 640px;height: 480px;background-color: #f4f4f4;border: 1px solid #EEE;}
#game img {margin: 0 auto;display: block;margin-top: 180px;}

.borderimg180x135 {border: 1px solid #ccc;width: 182px;height: 137px;position: absolute;left: -2px;top: -2px;border-radius: 5px;}
.bortopplay {background:url(img/bortopplay.png) no-repeat 0 0; width:700px; height:65px;}



.welcome { position:fixed; top:0;width: 100%;z-index: 9999999999999;}
.welcome div { width: 980px; margin: 0 auto;}
.welcome div span {display: block; width: 240px; margin: 6px 0 0 320px;}
.welcome * {color:#fff;}


.titboxgamecungloai {padding: 7px 20px;font-size: 14px;color: #f60;border: 1px dotted #ddd;background: #fafafa;}


.fb-recommendations-bar.fb_iframe_widget span.fbpluginrecommendationsbarleft   {box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);}

.alertLogin a, .linkDownload a {font-size: 12px; font-weight:bold;color:#3D962E;cursor: pointer;}
.alertLogin a:hover, .linkDownload a:hover{color:#F3C;}
.alertNofile {font-size:11px; color:#E12;}