* { margin: 0; padding: 0; list-style-type: none;  }
html, body { background:#a52e4e ; font-family: Arial; line-height: 1.6; font-size: 14px;
             margin: -12px auto 0px auto; padding: 0;}
fieldset, img { border: 0; margin-bottom: 5px;}
h1 { font: bold 18px Arial; color: #a52e4e; padding: 0px;  margin: 0px auto 0px auto; text-align:center;}
h2 { background: none; font-size: 15px; color: #ffffff;  }
/*h3 { background: #00ff00; height:30px; color: #154479; text-transform: uppercase; margin: 0px ; text-align: left;}*/
h4 { font-size: 13px; color:#154479;}
#thu{
    width:34%;
    float: left;
    margin-top:10px;
    margin-left:12px;
}

.tg-code { border-left: 7px solid #999999; border-right: 1px solid #999999; border-top: 3px solid #999999; border-bottom: 3px solid #999999; background-color: #fff; padding: 15px; width: 100%; height: auto; font-size: 12px; font-family: Courier News, monospace; }
a:link, a:visited { text-decoration: none; color: #00008b; font-weight: bold; }
a:visited { text-decoration: none; color: #00008f; font-weight: bold; }
a:hover { text-decoration: none; color:#711931; }
#tg_FastZ-w2 .search .button { margin-left: 5px; clear: both; }
#tg_FastZ-w2 .search .inputbox { border: 0; background: url(../images/search.png) no-repeat left top; height: 20px; width: 170px; }

#tg { width: 1024px; background:#fff; margin: 0 auto 0px auto;padding: 0px;  }
#Sly { width: 1024px; height: auto; background:#fff;  padding: 0; margin: 0 auto 0px auto;}
#banner { background: none;  width: 1024px; height: 180px; text-align: left; margin:0px auto 0px auto; padding: 0; }
#Sly-menu { margin:0px auto 0px auto; background:url(../images/mainmenu.png) no-repeat left top;  width: 1024px; height: 35px; text-align: left; 
           padding: 0px 0px 0px 0px ; list-style: none; position: relative; z-index: 1; }

#hornav{ clear: both; display: block; height: 20px; font-weight: bold; }
#hornav .moduletable{ margin: 0; }
#hornav ul { margin: 8px 0px 0px 40px; padding: 0; width: auto; float: left; font-size: 12px; text-transform: uppercase;}
#hornav ul li{ margin: 0; padding: 0; height: 20px; float: left; position: relative; }
#hornav ul li a{ color: #fff;  font-weight: bold; font-family:Arial; padding: 0px 16px 0px 16px; height:17px; display: block; float: left; 
               border-right: 1px solid #fff; }
#hornav ul li a:hover, #hornav ul.menu li#current.active a{ 
	background:none; 
	text-decoration: none; 
	color: #ffff00; 
	height:17px;
  }

#hornav ul li ul ul { margin: -40px 0 0 11em; }
#hornav ul li li { width: 200px; }
#hornav ul li li a { color: #000000; text-transform: none; display: block; background: none; width: 177px; border-top: 1px solid #DDDDDD; border-left: 3px solid #999999; }
#hornav ul li li a:hover{ background: none; background-color: #333333; left: 0; width: 177px; }
#hornav ul li ul { left: -999em; margin-top: 35px; margin-left: 0px; top: 36px; left: 0; display: block; height: auto; width: 200px; position: absolute; z-index: 99; left: -999em; background-color: #D3D3D3; clear: left; margin-top: 0px; margin-left: 0px; }
#hornav ul li:hover ul ul, #hornav ul li:hover ul ul ul { left: -999em; }
#hornav ul li:hover ul, #hornav ul li li:hover ul, #hornav ul li li li:hover ul { left: auto; }

#Sly-menu1{
    background:#fff;
    margin: 0px auto 0px auto;
    width: 1024px;
    max-height: 40px; 
    min-height:39px;
    overflow: hidden;
    text-align: left; 
    list-style: none; 
    position: relative; 
    z-index: 1;
  }

#bogo{
    width: 600px;
    height: 40px;
    line-height:39px;
    float: left;
    margin-top:2px;
    margin-left:12px;
    color: #ff0000;
    font-weight:bold;
    font-family: Candara;
    font-size: 16px;
    overflow:hidden;
}

#bogo li a:link{color:#fff;}

#timkiem{
    background:url(../images/cart.png) no-repeat left top;
    margin:0px 0px 0px 0px;
    padding: 2px 0px 0px 30px;
	width: 340px;
    height: 40px;
    line-height:39px;
    float: right;
    color:#00008b;
    font-size:13px;
  }

#Sly-menu2 { background: #fff; width:1024px; max-height: 343px; min-height:342px; margin: 0px auto 0px auto; padding: 10px 0px 0px 0px; 
           }
#slideshow { background: none;text-align: left; margin: 0px 0px 0px 10px; padding: 0px 0px 0px 0px; width: 700px; height:335px; float: left; font: normal 12px Arial; 
             color: #333; line-height: 20px; border: 1px solid #f1f1f1;}
#tintuc h3 {width:300px ; height:30px;  background:url(../images/tintuc.png) no-repeat left top; text-transform: uppercase; text-align: center; font-family: Candara;
           font-size:16px ; list-style: none;   line-height: 30px;  color:#fff; 
           margin:0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
#tintuc { text-align: left; margin:0px 10px 0px 0px ;padding: 0px 0px 0px 0px; width: 300px; height:335px ;float: left; color: #fff; top: 0; vertical-align: top; 
         background:none; border: 1px solid #f1f1f1;}

#Sly-menu3 { background: #fff; width:1024px; max-height: 206px; min-height:205px; margin: 0px auto 0px auto; padding: 0px 0px 0px 0px; overflow: hidden; }
#amthuctrangia { width: 1002px; max-height:204px; background:none; text-align: left; margin: 1px 3px 0px 9px; padding: 0px 0px 0px 0px;  float: left; overflow: hidden;
          font: normal 12px Arial; color: #333;  }
#amthuctrangia div.moduletable tr td:hover {border: 1px solid #a9a9a9; } 
            
#tg-sanpham h3 { background:url(../images/tg-sanpham.png) no-repeat left top; width:310px; height: 35px; line-height:33px; margin:0px 0px 0px 2px; 
               padding:  0px 0px 0px 10px; color:#fff;}
#tg-sanpham { width:780px; background:none ; margin: 20px 0px 10px 0px ; padding: 0px; text-align:left; }
#tg-sanpham div.moduletable tr td {background:none;  padding:10px 0px 5px 0px; text-align:center; border: 1px solid #f1f1f1;}
#tg-sanpham div.moduletable tr td:hover {border: 1px solid #a9a9a9; }  

#tg-advert2 { text-align: left; margin: 0px 0px 0px 0px  ; padding: 0px; width:100%;}
#tg-advert3 { text-align: left; margin: 0px 0px 0px 0px; padding: 3px; width:100%;}
#tg-advert4 { text-align: left; margin: 0px 0px 0px 0px  ; padding: 0px; width:100%;}
#tg-advert5 { text-align: left; margin: 0px 0px 0px 0px; padding: 3px; width:100%;}

#tg-doitac { background: #fff; width: 1024px; height:155px; margin-left: auto; margin-right: auto; text-align: left; clear: both; }
.doitac { background:none; width: 1000px; height:132px;  margin: 5px 10px 5px 10px; 
          padding:0px; text-align: left; float:left; border: 1px solid #f1f1f1;}

#tg_FastZ-w { height: 21px; width: 980px; text-align: left; background: #444444 url(../images/dot-4.png) repeat-x left bottom; padding-top: 1px; margin-left: auto; margin-right: auto; }
#tg_FastZ-wb { color: #fff; font-weight: bold; height: 12px; padding-top: 3px; padding-left: 10px; width: 770px; text-align: left; background-color: #444444; float: left; }
#tg_FastZ-wb a { color: #fff; font-weight: bold; }
#tg_FastZ-ws { color: #fff; font-weight: bold; height: 15px;  padding-top: 0px; padding-left: 10px; width: 190px; text-align: left; background-color: #444444; float: left; }
#tg-login fieldset.tg_input { float: left; padding-left: 5px;}
#tg-login ul li {padding-right: 16px; }
#tg-login ul { clear: both; }
#tg-login fieldset.tg_input p { float: left; padding-right: 3px; }
#tg-hi { float: left; padding-right: 10px; }
#tg-logout { float: left; }

p#form-login-remember { margin-top: 19px; margin-right: 5px; }
p#form-login-remember, .tg-button { margin-top: 15px; margin-right: 5px; }

#Sly-center-right { width: 210px; text-align: left; float: right; margin:10px 10px 0px 0px;  }
#Sly-center-center3 { width: 780px; text-align: left; float: left; }
#Sly-center-center-center3 {  background-color: #FFF; width: 780px; text-align: left; float: left; margin: 0px 0px 0px 10px }
#Sly-center3 { width: 1024px; background: #fff; text-align: left; }
#Sly-center-center2 { margin-left: 5px; float: left; width: 780px; text-align: left; }
#Sly-center-center-center2 {  background-color: #FFF; width: 780px; text-align: left;  float: left; margin: 0px 0px 0px 10px}
#Sly-center2 { width: 1024px; text-align: left; margin: 0; padding:0; }
#Sly-center-center1 { width: 1024px; text-align: left; }
#Sly-center-center-center1 {  background-color: #FFF; width: 968px; text-align: left; }
#Sly-center1 { width: 1024px; background-color: #FFF; text-align: left;  }
#Sly-center-center4 { width: 780px; text-align: left; float: left; padding: 0px; margin: 0px 0px 0px 10px}
#Sly-center-center-center4 { background-color: #FFF; width: 780px; margin: 0px 0px 0px 10px; padding: 0px; }
#Sly-center4 { width: 1024px;  text-align: left;  }

#tinfoot { background: #fff; width: 1024px; height: 220px; margin-left:auto; margin-right:auto; margin-bottom: 0px;  padding-left:0px; text-align: left; clear: both; }

#tg-user5 { background:url(../images/mainmenufoot.png) repeat-x left top; width: 1024px; height:35px; margin:0px auto 0px auto; padding-top:0px;  text-align: center; font-family:Tohamo; font-size:14px; color:#fff;}
#tg-user5 { clear: both; display: block; height: 35px; font-weight: bold; }
#tg-user5  .moduletable{ margin: 0; }
#tg-user5  ul { margin: 0px 0px 0px 70px; padding: 0; float: left; font-size: 12px; color:#fff; font-family: Verdana; }
#tg-user5  ul li{ margin: 0px; padding: 0;  height: 35px; float: left;  position: relative; }
#tg-user5  ul li a { color: #ffffff; margin-top: 8px;  margin-bottom: 3px; padding: 0px 15px 2px 15px; height:20px; line-height:20px; display: block; float: left; border-right: 1px solid #ccc;}
#tg-user5  ul li a:hover{ text-decoration: underline;}


#tg-footer { background: #ffffff; width: 1024px; height: 150px; margin-left: auto; margin-right: auto; text-align: left; clear: both; }
.diachi1 { width: 330px; color: #00008b; margin: 10px 0px 0px 15px; padding: 0px; float: left;  border-right: 1px solid #ccc; font-size: 13px;}
.diachi2 { width:330px; color: #00008b; margin: 10px 0px 0px 7px; padding: 0px;  float: left;  border-right: 1px solid #ccc; font-size: 13px;}
.diachi3 { width:320px; color: #00008b; margin: 10px 0px 0px 7px; padding: 0px;  float: left;  font-size: 13px;}

#tg-visit { background: #fff; width: 1024px; height: 120px; margin-left: auto; margin-right: auto; text-align: left; clear: both; }
#visit { color: #00008b; margin: 0px 10px 0px 10px; padding: 0px 0px 0px 0px; float: right; width: 200px; font-size: 11px; }


.credit, .credit a, .credit a:link, .credit a:visited { font-size: 9px; color: #FAFABE; text-align: center; text-decoration:none; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
* html > body .clearfix { display: block; width: 100%; }
* html .clearfix { height: 1%; }

form label { cursor: pointer; }
.input, .select, .textarea, .inputbox ,.button { font-family: Arial, Helvetica, sans-serif; font-size: 100%;  }

.inputbox { 
	padding: 2px; 
	border: 1px solid #a9a9a9; 
	background: #f2f2f2; 
	color: #333;
	font: normal 12px Arial, Helvetica, sans-serif;
	margin-top: 0px; 
	margin-bottom: 0px;
	width: 50px;
   
}


.content_area { 
	padding: 2px; 
	border: 1px solid #6D9CCE; 
	background: #FCFAF2; 
	color: #333;
	font: normal 12px Arial, Helvetica, sans-serif;
	margin-top: 1px; 
	margin-bottom: 1px;
	width: 200px;
}

#vm_search_keyword { width: 200px;}
#s5_vm_search_button { margin: 1px 0px 0px -3px;}

#mod_search_searchword{
    float: left;
    height: 18px;
    width: 200px;
    margin: 0px;
    padding:  0px;
    -moz-border-radius:3px;
}
.search { background:#00ff00; color: #ff0000; font-size: 11px; height: 30px; margin:-20px 0px 0px 0px; padding: 0px; width: 280px;}
#searchForm {width:560px; height:300px  ;background: #f1f1f1;  margin: 4px 0px 0px 0px; padding:0px 5px 0px 5px;  -moz-border-radius:3px; }

.search1 { padding: 3px; color: #9f9f9e; font-size: 11px;  
margin: 0px; float: left; padding-left: 35px;}

.small, .createdate { color: #BBBBBB; font-size: 9px; }
.contentheading, .contentheading a { color: #5ba600; font-size: 15px; font-weight:bold; background:none;  
                               margin:0px 0px; padding:0px 0px 0px 0px; }

.contentpaneopen img { margin: 2px 10px 2px 2px; padding: 2px; border: 1px solid #f1f1f1; }
.contentpaneopen-cat img { margin: 2px 10px 2px 2px; padding: 2px; border: 1px solid #f1f1f1; }
table.contentpaneopen-cat { margin:-23px 0px 0px 0px;  padding: 5px 10px 0px 10px; 
                     background:none; border: 1px solid #f1f1f1; width:780px; text-align:justify; }

table.contentpaneopen { margin:0px;  padding: 5px 10px 10px 10px; 
                     background:none; border: 1px solid #f1f1f1; width:780px; text-align:justify; }


a:hover.readon { color: #ff9900;  }
a.readon { 	
	float: right; 
	font: bold 11px Arial, Helvetica, sans-serif;	
	color: #ff0000; 
	background: none;
	width: 79px;
	height: 25px;
	text-align: center;
    line-height: 23px;
	margin-bottom: 0px;
}


#Sly-center-right .module{ width: 210px; }
#Sly-center-right .module h3, 
#Sly-center-right .module_menu h3, .module_nav h3,
#Sly-center-right div.module_ads h3{ 
	color: #fff;  
	font-size: 12px;
	text-transform: uppercase;
	height: 30px; 
	background: url(../images/sidebar.png) no-repeat left top; 
	line-height:30px;
	padding-left: 25px;
	text-align:left;
    font-weight: bold;
    }
.inner { padding:0;}
.module {padding:0; margin:0px 0px 10px 0px;}
.module_nav{width: 210px; margin: 0 0 10px; padding: 0;}
.module-title {font-size:20px; font-weight: bold; margin:0 10px; padding:5px 0px 5px 5px;line-height:20px; color: #969696; 
                   }
.module_nav .module-body{padding: 0; }

.module-body {
	margin:0; 
	padding:0px ;
	background: #fff;
	border: solid 1px #f1f1f1;
   
    }
.module-body p{padding:0px; margin:0px;}
.module-body a{  color:#1e5a80; }
.module-body li{ border-bottom: solid 1px #f1f1f1; padding-left:0px; }
.module ul.menu, .module_menu ul.menu, .module ul.latestnews{margin:0; padding:0;list-style:none; padding:0; list-style-type:none; }
.module ul.menu li, .module_menu ul.menu li{  list-style:none; list-style-type:none;margin:0; padding:0; border-bottom:1px dotted #e8e8e8;}
.module ul.menu li a, .module_menu ul.menu li a { display:block;margin:0; padding:3px 0px 3px 40px; font-weight:bold; line-height:22px;
                                background: url(../images/li-sibar.png) no-repeat top left; text-decoration:none; color:#fff; }
.module ul.menu li a:hover, .module_menu ul.menu li a:hover { text-decoration:none; color: #FF9900;}
.module ul.menu li.active a, .module_menu ul.menu li.active a{color: #FF9900;}
.module ul.menu li ul, .module_menu ul.menu li ul {border-top:1px dotted #e8e8e8; margin:0;}
.module ul.menu li ul li, .module_menu ul.menu li ul li {background:none; border:none; margin: 0 0 0 15px;   }
.module ul.menu li ul li a, .module_menu ul.menu li ul li a{ border: 0; color:#4189b7; background: url(../images/vertical.png) 0% 50% no-repeat;}
.module ul.menu li ul li a:hover, .module_menu ul.menu li ul li a:hover{ border: 0; color:#013a78; background: url(../images/vertical.png) 0% 50% no-repeat; }
.module ul.menu li ul li.active a, .module_menu ul.menu li ul li.active a{color: #013a78;}
.module ul.menu li.active ul li a, .module_menu ul.menu li.active ul li a{color: #4189b7;}
.module ul.menu li.active ul li a:hover, .module_menu ul.menu li.active ul li a:hover{color: #013a78;}
/* End Modules */

.sectiontableheader { height: 25px; background: #66cc33; padding: 1px 1px 0px 1px; border-top: 3px solid #333333;  margin: 0px; 
                       text-align: center; color:#fff; font-weight: normal;}
.sectiontablefooter { border-top: 1px solid #CCCCCC; }
.sectiontableentry1 {  background-color: #ffffcc; border-top: 1px solid #FFF; }
.sectiontableentry1 td { border-top: 1px solid #FFF; padding: 1px; }
.sectiontableentry2 {  background-color: #ffffcc; padding: 1px; }
.sectiontableentry2 td { border-top: 1px solid #FFF; padding: 1px; }
table.pollstableborder td.sectiontableentry1, table.pollstableborder td.sectiontableentry2 { border: none; background: none; text-align: left; left: 0; top: 0; padding: 0; margin: 0; }

ul.tg-pagination { background:#ffffcc; float: right; color: #4692BF; }
ul.tg-pagination li { float: left; font-weight: bold; margin: 0px 1px 0px 1px; }
ul.tg-pagination li a { color: #333333; font-size: 11px; border: 1px solid #ffff00;  padding: 0px 2px 0px 2px; }
ul.tg-pagination li a:hover { color: #FFF; border: 1px solid #4692BF; background-color: #4692BF; }
#page-right, #page-left { border: none; background-color: #FFF; font-weight: bold; }

.contentheading a.contentpagetitle{
 font-size:16px;
 color: #154479;
 padding-left: 0px;
 text-transform: none;
 line-height: 25px;
}
.contentheading a:hover {color:#ff9900;}

.contentheading a.contentpagetitle h3{
	color:#00008b;
    width:777px;
	line-height:25px;
	font-size:16px;
}
 

.blog_more div strong{
font-size:16px;
color:#ff0000;
}
.blog_more ul{
margin-left:30px;
}
.blog_more ul li{
list-style-image:url(../../../images/M_images/arrow.png);
line-height:25px;
}
.blog_more ul li a{
font-weight:bold;
color:#a44242;
}
.blog_more ul li a:hover{
color:#FF9900;
}
.blog_more ul li a:visited{
color: #990000;
}

.moduletable ul.relateditems{
margin-left:30px;
}
.moduletable ul.relateditems li{
line-height:25px;
list-style-image:url(../../../images/M_images/arrow.png);

}
.moduletable ul.relateditems li a{
color:#666;
font-weight:normal;
}
.moduletable ul.relateditems li a:hover{
color:#FF9900;
}
.moduletable ul.relateditems li a:visited{
color: #990000;
}

.moduletable ul.latestnews {
width:280px ;
max-height: 295px;
min-height:294px;
overflow: hidden;
margin: 5px 4px 5px 9px;
}

.moduletable ul.latestnews li.latestnews {
border-bottom: 1px solid #f1f1f1;
padding: 2px 0px 2px 0px;
}

ul.latestnews li.latestnews a.latestnews{
background: url("../../../images/M_images/arrow1.png") top left no-repeat;
font-weight:normal;
color:#00008b;
line-height: 1.1;
margin: 0px 0px 0px -2px;
padding:2px 2px 2px 15px;
}

ul.latestnews li.latestnews a:hover{
padding:2px 2px 2px 15px;
color:#66cc33;
}

#emailForm.form-validate div.contact_email button.button{
	border:none;
	background: url(../images/search_btn.png) no-repeat;
	color:#fff;
	padding:3px;
	-moz-border-radius:5px;
	margin-left:100px;
	cursor: pointer;
	width: 79px;
	height: 25px;
}

form#emailForm.form-validate label{font: bold 12px Arial, Helvetica, sans-serif; color: #154479;}
.search .cmdTimkiem{
	background: url(../images/search_btn.png) no-repeat;
	width: 79px;
	height: 25px;
	cursor: pointer;
	border: none;
	color: #fff;
	text-align: center;
	font: bold 11px Arial, Helvetica, sans-serif;
	line-height: 23px;
}

.search .cmdTimkiem:hover{color: #fffc00;}

#tg-advert2 div.moduletable tr td { border:  1px solid #ccc; line-height: 16px;-moz-border-radius:5px; padding-top:10px;}
#tg-advert3 div.moduletable tr td { border:  1px solid #ccc; line-height: 16px;-moz-border-radius:5px; padding-top:10px;}

#tg-advert2 .productPrice{color: #ff0000; }

#tg-advert3 .productPrice{color: #ff0000;}

.product_price{
	width: 100%;
	float:left;
	text-align:left;
    
}

.product_price a{color: #ff0000;}

.product_name{
    margin-top:10px;
	height:20px; 
	float:left; 
	width: 100%;
	line-height: 16px;
   
}

.product_name a{
	color: #154479;
	font: bold 12px Arial, Helvetica, sans-serif;
}

.product_name a:hover{color: #FF9900;}

#relateditemlist , #neweritemlist, #olderitemlist {
	margin-top: 0px;	
	background:none;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
	width:650px;
	list-style-image:url(../../../images/M_images/arrow.png);
    line-height: 1.6;
}

#relateditemlist a:hover , #neweritemlist a:hover, #olderitemlist a:hover {
    text-decoration: underline;
}


#vmMainPage{ background:none; border:1px solid #f1f1f1; font: normal 14px Arial, Helvetica, sans-serif; text-align:justify; line-height: 1.6; 
            color: #00008b;  margin:10px 0px 0px 0px; padding:0px 10px 10px 10px ; }
#vmMainPage h3, #vmMainPage h4 { background:#cccc99 ; min-width: 150px; text-transform:uppercase; font: bold 14px Arial, Helvetica, sans-serif;   
             line-height: 1.6; color: #fff; margin:8px 0px 0px 0px; padding:3px 5px 0px 10px; }
#vmMainPage ul li  { background:#f1f1f1  ;font: normal 14px Arial, Helvetica, sans-serif;  line-height: 1.6; color: #66cc33; padding:0px 5px 0px 5px; border: 1px solid #ffffcc;}
#vmMainPage h1{ font-family:Arial; text-transform:uppercase; font-size:13px; font-weight: bold; color:#fff; background: #66cc33; padding: 3px 5px 3px 5px;}
#vmMainPage .cssProductList_Item_Row{ padding:  10px 0px 0px 0px;}
#vmMainPage .moduletable tbody tr td { margin:  0px 0px 0px 0px; padding:5px; }
#vmMainPage .cssChildCategory tbody tr td { padding: 10px 0px 0px 10px ;  border-bottom: 1px solid #f1f1f1;}
#vmMainPage .vmCartContainer2 { font-size: 13px; color:#ff0000; }
#vmMainPage .cssProductList_Item_Row{  min-height: 208px; padding:0px 0px 0px 0px; border: 1px solid #f1f1f1;}
#vmMainPage .cssNavigatorBottom { margin: 0px 0px 0px 0px; padding: 0px 10px 0px 10px; }
#vmMainPage table {   margin-bottom: 0px; }
#vmMainPage table tbody tr td {  padding: 5px;}
#vmMainPage table tbody tr td a{   padding: 0px;  margin-top: 0px;}
#vmMainPage .cssChildCat { height:20px; margin:0px;}

